{% extends 'base.html' %}

{% block content %}
    <h1>Kilka słów o nas:</h1>

    <p class="about-text">Jeśli idąc jedną z poznańskich ulic zauważysz osobę, która zatrzymuje się widząc słodkiego pieska i od razu do niego podbiega, to możesz być prawie pewien, że tą osobą jest jedna z nas.
Jesteśmy Julia i Agata - studentki II-go roku kognitywistyki na Uniwersytecie im. Adama Mickiewicza w Poznaniu. Całą swoją miłość przelewamy na nasze pupile, lecz bardzo kochamy wszystkie zwierzątka i pragnęłyśmy stworzyć prosta stronę, która pozwoli dopasować zwierzę to twojego imienia, abyś już zawsze mógł się z nim utożsamiać.
Mamy nadzieję, że kochacie zwierzęta równie mocno jak my i świetnie spędzicie na naszej stronie czas.</p>
<p class="about-text">A to my:</p>
<p style="text-align: center;">"<img src="/static/img/agatka.jpg" alt="" height="400" width="400"> <img src="/static/img/julka.jpg" alt="" height="400" width="250"></p>
<p class="about-text">A to nasze zwierzątka:</p>
<p style="text-align: center;">"<img src="/static/img/kot1.jpg" alt="" height="400" width="250"> <img src="/static/img/kot2.jpg" alt="" height="400" width="250"> <img src="/static/img/pies-julki.jpg" alt="" height="400" width="250"></p>
{% endblock %}
